/**
 * MINI 7-1 SASS PATTERN
 * See: https://sass-guidelin.es/#the-7-1-pattern
 */
/**
 * MIXINS
 */
/**
 * MEDIA QUERY MANAGER
/* 1em = 16px
*/
/**
 * VARIABLES
 */
/**
 * RESET
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* define 10px rem unit */ }

body {
  font-family: sans-serif;
  font-size: 1.8rem;
  line-height: 1.2;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

/**
 * ANIMATIONS
 */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(168rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveOutRight {
  0% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(168rem);
    display: none; } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-50rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveOutTop {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(-50rem);
    display: none; } }

/**
 * TYPOGRAPHY
 */
h2 {
  font-size: 2.4rem;
  margin: 0 0 1em; }
  @media only screen and (min-width: 48em) {
    h2 {
      font-size: 3.6rem; } }
  @media only screen and (min-width: 105em) {
    h2 {
      font-size: 4.8rem; } }
  @media only screen and (max-width: 37.5em) {
    h2 {
      margin-top: 2em; } }
  h2::after {
    content: "";
    display: block;
    width: 12rem;
    height: 3px;
    background: #3C3C3C;
    margin: .75em 0 0; }
    @media only screen and (min-width: 48em) {
      h2::after {
        height: 4px; } }
    @media only screen and (min-width: 105em) {
      h2::after {
        height: 5px; } }
  h2.has-text-align-right::after {
    margin-left: auto; }
    @media only screen and (max-width: 37.5em) {
      h2.has-text-align-right::after {
        margin-left: 0; } }
  h2.section-header {
    text-align: center;
    position: relative;
    margin: 1em 0; }
    h2.section-header::after {
      margin: .75em auto 0; }

.site-wrapper {
  font-family: 'Montserrat', sans-serif;
  color: #3C3C3C; }

.site-header__inner a {
  color: black;
  font-weight: bold;
  text-transform: uppercase; }

@media only screen and (min-width: 48em) and (max-width: 63.9375em) {
  .site-header__menu .menu li {
    font-size: 1rem; } }

@media only screen and (min-width: 64em) and (max-width: 74.9375em) {
  .site-header__menu .menu li {
    font-size: 1.4rem; } }

.site-hero__inner {
  color: #FFFFFF; }
  .site-hero__inner h1 {
    font-size: 2em;
    margin-bottom: 1em; }
    @media only screen and (min-width: 48em) {
      .site-hero__inner h1 {
        font-size: 3.5vw;
        margin-bottom: 3.5vw; } }
  .site-hero__inner div {
    font-size: 1.5em;
    margin-bottom: 1em; }
    @media only screen and (min-width: 48em) {
      .site-hero__inner div {
        font-size: 2.3vw; } }
  .site-hero__inner p {
    font-size: .85em;
    line-height: 1.3; }
    @media only screen and (min-width: 48em) {
      .site-hero__inner p {
        font-size: 1.33vw; } }
    @media only screen and (min-width: 75em) {
      .site-hero__inner p {
        font-size: 1vw; } }

.main-section {
  font-size: 1.6rem; }

.site-footer {
  font-size: 1.6rem;
  color: #FFFFFF; }
  .site-footer .footer-text {
    text-align: right; }
    .site-footer .footer-text h3 {
      font-size: 1.5em;
      margin-bottom: 1em; }
    .site-footer .footer-text i, .site-footer .footer-text em {
      padding-top: 1em;
      display: inline-block;
      font-style: normal; }

/**
 * UTILS
 */
.ukryj {
  display: none !important; }

.menu-toggle {
  display: block;
  position: relative;
  background-color: #000000;
  width: 5rem;
  height: 2px; }
  @media only screen and (min-width: 48em) {
    .menu-toggle {
      width: 3rem; } }
  @media only screen and (min-width: 75em) {
    .menu-toggle {
      width: 5rem; } }
  .menu-toggle::before, .menu-toggle::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #000000;
    transition: transform .33s; }
  .menu-toggle::after {
    top: 1rem; }
  .menu-toggle::before {
    bottom: 1rem; }

#site-header-trigger:checked + label .menu-toggle {
  background-color: transparent; }
  #site-header-trigger:checked + label .menu-toggle::after {
    top: 0;
    transform: rotate(-45deg); }
  #site-header-trigger:checked + label .menu-toggle::before {
    bottom: 0;
    transform: rotate(45deg); }

.eci-image-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9); }
  .eci-image-overlay img.eci-image-overlay__image {
    max-width: 80%; }

/* ECI OVERRIDES */
#eci .wp-block-button__link {
  position: relative;
  font-size: 1.6rem;
  padding: 1.25em 1.75em;
  border-radius: 8px;
  margin-bottom: 6rem;
  font-weight: bold;
  background-color: #FFCC00;
  color: #3C3C3C;
  font-family: inherit;
  border: 0;
  transition: all .33s; }
  #eci .wp-block-button__link:hover {
    box-shadow: 0 0 3rem rgba(60, 60, 60, 0.1);
    transform: scale(1.05); }

#eci .portfolio-section .wp-block-button__link {
  background-color: #3C3C3C;
  color: #F2F2F2; }

/**
 * GRID
 */
.site-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  max-width: 168rem;
  margin: 0 auto;
  overflow: hidden; }
  @media only screen and (min-width: 48em) {
    .site-wrapper {
      grid-template-columns: repeat(12, 1fr); } }

/**
 * HEADER & FOOTER
 */
header {
  grid-column: 1/-1; }

footer, section {
  grid-column: 1/-1; }
  @media only screen and (min-width: 48em) {
    footer, section {
      grid-column: 2/-2; } }

@media only screen and (max-width: 37.5em) {
  section {
    padding: 0 2rem; } }

.site-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-row: 1/2;
  position: relative;
  z-index: 2; }
  @media only screen and (min-width: 48em) {
    .site-header {
      flex-wrap: nowrap; } }
  @media only screen and (min-width: 48em) {
    .site-header {
      position: fixed;
      width: 100%;
      max-width: 168rem; } }
  .site-header__logo {
    order: 1;
    flex: 0 0 50%;
    z-index: 10;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .33s; }
    @media only screen and (min-width: 48em) {
      .site-header__logo {
        flex: 0 0 17.5%; } }
  @media only screen and (min-width: 48em) {
    .site-header.menu-fixed .site-header__logo {
      max-height: 11rem; } }
  .site-header__inner {
    order: 3;
    animation: moveOutTop .5s;
    animation-fill-mode: forwards;
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    justify-content: space-between;
    padding: 4rem; }
    @media only screen and (min-width: 48em) {
      .site-header__inner {
        order: 2;
        flex: 1 0 74.1%; } }
    @media only screen and (min-width: 48em) {
      .site-header__inner {
        height: 11rem; } }
  .site-header label {
    order: 2;
    flex: 1 0 8%;
    z-index: 10;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (min-width: 48em) {
      .site-header label {
        order: 3;
        height: 11rem;
        right: 3px; } }
  .site-header__trigger {
    display: none; }
    .site-header__trigger:checked ~ .site-header__inner {
      animation: moveInTop .5s; }
  .site-header__menu .menu li {
    display: inline-block;
    margin-right: 1em; }
    @media only screen and (max-width: 47.9375em) {
      .site-header__menu .menu li {
        display: block;
        margin-top: 1em; } }
    .site-header__menu .menu li a {
      transition: all .33s; }
      .site-header__menu .menu li a:hover {
        color: #FFCC00; }

.site-hero {
  grid-column: 1/-1;
  grid-row: 1/3;
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 48em) {
    .site-hero {
      grid-column: 2/-2; } }
  .site-hero .site-hero__inner {
    padding-top: 80%;
    padding-bottom: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media only screen and (min-width: 48em) {
      .site-hero .site-hero__inner {
        padding-top: 25%;
        padding-bottom: 10%; } }
    @media only screen and (min-width: 48em) {
      .site-hero .site-hero__inner {
        justify-content: flex-start; } }
    @media only screen and (min-width: 75em) {
      .site-hero .site-hero__inner {
        justify-content: space-between; } }
    .site-hero .site-hero__inner > *:nth-child(1) {
      flex: 0 0 80%; }
      @media only screen and (min-width: 48em) {
        .site-hero .site-hero__inner > *:nth-child(1) {
          flex: 0 0 45%;
          margin-right: 55%;
          padding-left: 20%; } }
    .site-hero .site-hero__inner > *:nth-child(2) {
      flex: 0 0 80%; }
      @media only screen and (min-width: 48em) {
        .site-hero .site-hero__inner > *:nth-child(2) {
          flex: 0 0 45%;
          padding-left: 20%; } }
    .site-hero .site-hero__inner > *:nth-child(3) {
      flex: 0 0 80%; }
      @media only screen and (min-width: 48em) {
        .site-hero .site-hero__inner > *:nth-child(3) {
          flex: 0 0 45%;
          animation: moveInRight 1s; } }
      @media only screen and (min-width: 75em) {
        .site-hero .site-hero__inner > *:nth-child(3) {
          padding-right: 15%; } }

.main-section .wp-block-media-text {
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .main-section .wp-block-media-text:first-of-type {
    padding-top: 6rem; }
  @media only screen and (min-width: 48em) {
    .main-section .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
      padding: 0 16% 0 8%; }
    .main-section .wp-block-media-text:not(.has-media-on-the-right) .wp-block-media-text__content {
      padding: 0 8% 0 14%; } }
  @media only screen and (min-width: 75em) {
    .main-section .wp-block-media-text.has-media-on-the-right {
      margin-right: 10%;
      grid-template-columns: 57% 43%; }
      .main-section .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
        padding: 0 24% 0 8%; }
    .main-section .wp-block-media-text:not(.has-media-on-the-right) {
      margin-left: 10%;
      grid-template-columns: 43% 57%; }
      .main-section .wp-block-media-text:not(.has-media-on-the-right) .wp-block-media-text__content {
        padding: 0 8% 0 24%; } }
  .main-section .wp-block-media-text p {
    position: relative;
    margin-bottom: 1em; }
    @media only screen and (min-width: 48em) {
      .main-section .wp-block-media-text p::before {
        content: "";
        background: #3C3C3C;
        width: 1.25em;
        height: 1.25em;
        display: inline-block;
        position: relative;
        top: .25em;
        margin-right: 1rem;
        clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 20% 20%, 20% 80%, 100% 80%, 100% 100%, 0% 100%); }
      .main-section .wp-block-media-text p::after {
        content: "";
        background: #FFCC00;
        display: block;
        width: calc(.5 * 1.25em);
        height: .25em;
        position: absolute;
        top: 50%;
        left: calc(1.25 * 1.25em); }
      .main-section .wp-block-media-text p::before {
        position: absolute;
        top: 50%; }
      .main-section .wp-block-media-text p::after {
        transform: translateY(-50%); } }
  .main-section .wp-block-media-text.has-media-on-the-right p::before {
    left: auto;
    right: -2em;
    transform: translate(100%, -50%) rotate(180deg); }
  .main-section .wp-block-media-text.has-media-on-the-right p::after {
    left: auto;
    right: calc(1.25 * -1.625em); }
  .main-section .wp-block-media-text:not(.has-media-on-the-right) p::before {
    left: -2em;
    transform: translateY(-50%); }
  .main-section .wp-block-media-text:not(.has-media-on-the-right) p::after {
    left: calc(1.25 * -1.125em); }

.main-section .counter-section {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translate(-50%); }

@media only screen and (max-width: 37.5em) {
  .wp-block-latest-posts.is-grid li {
    margin-right: 0; } }

.site-footer {
  width: 100%;
  height: 100%;
  min-height: 10rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2rem;
  padding: 10% 0 0; }
  .site-footer .footer-text {
    grid-column: 2/-2; }
    @media only screen and (min-width: 48em) {
      .site-footer .footer-text {
        grid-column: 1/5; } }
    @media only screen and (min-width: 75em) {
      .site-footer .footer-text {
        grid-column: 2/4; } }
    .site-footer .footer-text img {
      max-width: 10rem; }
  .site-footer .footer-form {
    grid-column: 2/-2; }
    @media only screen and (min-width: 48em) {
      .site-footer .footer-form {
        grid-column: 5/-2; } }
    @media only screen and (min-width: 75em) {
      .site-footer .footer-form {
        grid-column: 5/9; } }

/**
 * THEME
 */
body {
  background: #FFFFFF; }

.site-wrapper {
  border-left: 1px solid;
  border-right: 1px solid; }

.site-header label {
  background-color: #FFFFFF; }

.site-header__logo {
  background: #000000; }
  .site-header__logo a {
    width: 100%;
    position: relative;
    height: 0;
    padding-top: 135%; }
    .site-header__logo a img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .33s;
      transform: scale(0.75); }

@media only screen and (min-width: 48em) {
  .site-header.menu-fixed .site-header__logo a img {
    transform: scale(0.25); } }

.site-header__inner {
  background-color: #FFFFFF; }

.main-section .counter-section {
  padding: 8rem 20%;
  background: #3C3C3C;
  color: #FFFFFF; }
  .main-section .counter-section * {
    color: #FFFFFF; }

.main-section .wp-block-media-text {
  position: relative; }
  .main-section .wp-block-media-text__media {
    position: relative;
    z-index: 1; }
  .main-section .wp-block-media-text::before {
    display: block;
    position: absolute;
    z-index: 0;
    background-image: url(../img/eci-gfx.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 32.14%;
    height: 100%; }
    @media only screen and (min-width: 75em) {
      .main-section .wp-block-media-text::before {
        content: ""; } }
  .main-section .wp-block-media-text:nth-of-type(1)::before {
    top: 0;
    right: 0;
    transform: translate(70%, -25%); }
  .main-section .wp-block-media-text:nth-of-type(2)::before {
    top: 0;
    left: 0;
    transform: translate(-70%, -5%); }
  .main-section .wp-block-media-text:nth-of-type(3)::before {
    bottom: 0;
    right: 0;
    transform: translate(70%, 50%); }

/* LOGO CAROUSEL */
.swiper-wrapper {
  align-items: center; }
  .swiper-wrapper img {
    transform: scale(0.75); }

/* POLYLANG */
.widget_polylang ul li {
  display: inline-block; }
  .widget_polylang ul li span {
    display: none; }

.widget_polylang .lang-item a {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid;
  position: relative;
  background-size: cover; }
  .widget_polylang .lang-item a img {
    opacity: 0;
    /* hide it, use hi res backgrounds instead */ }

.widget_polylang .lang-item-pl a {
  background-image: url(../img/polylang/pl.png); }

.widget_polylang .lang-item-en a {
  background-image: url(../img/polylang/en.png); }

.widget_polylang .lang-item-ko a {
  background-image: url(../img/polylang/ko.png); }

/* WP LATEST POST BLOCK */
.wp-block-latest-posts.is-grid .wp-block-latest-posts__featured-image {
  height: 0;
  padding: 33%;
  position: relative; }
  .wp-block-latest-posts.is-grid .wp-block-latest-posts__featured-image img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.wp-block-latest-posts.is-grid .wp-block-latest-posts__post-full-content {
  font-size: 1.4rem;
  margin-top: -2rem; }

.portfolio-section .wp-block-latest-posts.is-grid a {
  display: inline-block;
  padding: 1em;
  color: #3C3C3C;
  font-size: 1.8rem;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  transform: translate(-50%, -55%);
  background-color: rgba(242, 242, 242, 0.9); }
  @media only screen and (min-width: 48em) {
    .portfolio-section .wp-block-latest-posts.is-grid a {
      font-size: 1.4vw; } }
  .portfolio-section .wp-block-latest-posts.is-grid a::before {
    content: "";
    background: #3C3C3C;
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    position: relative;
    top: .25em;
    margin-right: 1rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 20% 20%, 20% 80%, 100% 80%, 100% 100%, 0% 100%); }
  .portfolio-section .wp-block-latest-posts.is-grid a::after {
    content: "";
    background: #FFCC00;
    display: block;
    width: calc(.5 * 1.25em);
    height: .25em;
    position: absolute;
    top: 50%;
    left: calc(1.25 * 1.25em); }

.equipment-section {
  position: relative; }
  .equipment-section::before {
    content: "";
    background: #F2F2F2;
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 50%;
    transform: translateX(-50%); }
  .equipment-section .wp-block-latest-posts.is-grid a {
    display: inline-block;
    padding: 1em;
    color: #FFFFFF;
    font-size: 1.8rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, -55%);
    background-color: rgba(60, 60, 60, 0.9); }
    @media only screen and (min-width: 48em) {
      .equipment-section .wp-block-latest-posts.is-grid a {
        font-size: 1.4vw; } }

.wp-block-latest-posts__ajax-end {
  flex: 0 0 100%;
  text-align: center;
  z-index: 1; }

/* WP FORMS */
.footer-form .eci-form.eci-footer-form input[type=text], .footer-form .eci-form.eci-footer-form input[type=email], .footer-form .eci-form.eci-footer-form textarea {
  border-radius: .4rem;
  border: 0;
  width: 100%;
  max-width: 100%; }

.footer-form .eci-form.eci-footer-form .wpforms-form .wpforms-field-label {
  font-weight: normal;
  font-size: 1.4rem; }
