/**
 * RESET
 */

@charset "UTF-8";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* define 10px rem unit */
}

body {
    font-family: sans-serif;
    font-size: 1.8rem;
    line-height: 1.2;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/**
 * ANIMATIONS
 */

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(168rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(168rem);
        display: none;
    }
}

/**
 * TYPOGRAPHY
 */

.site-wrapper {
    font-family: 'Montserrat', sans-serif;
    color: $color-black;
}

.site-header__inner {
    a {
        color: black;
        font-weight: bold;
        text-transform: uppercase;
    }
}
