/**
 * GRID
 */

.site-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    @include respond(min-tablet) {
        grid-template-columns: repeat(12,1fr);
    }
    grid-gap: 2rem;
    max-width: 168rem;
    margin: 0 auto;
    overflow: hidden;
}

/**
 * HEADER & FOOTER
 */

header, footer {
    grid-column: 1/-1;
}

.site-header{

    display:flex;
    justify-content: space-between;

    &__logo {
        flex: 0 0 15.5%;
        @include flexcenter;
    }

    &__inner {
        animation: moveOutRight .5s;
        animation-fill-mode: forwards;
        display: flex;

        height: 11rem;
        align-items: center;
        justify-content: space-between;
        padding: 4rem;
    }

    label {
        flex: 0 0 8.5%;
        order: 1;
        height: 11rem;
        @include flexcenter;
    }

    &__inner {
        flex: 0 1 76%;
    }

    &__trigger {
        display:none;

        &:checked + .site-header__inner {
            animation: moveInRight .5s;
            background: $color-white;
        }

    }

}
