/**
 * GRID
 */

.site-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    @include respond(min-tablet) {
        grid-template-columns: repeat(12,1fr);
    }
    grid-gap: 2rem;
    max-width: 168rem;
    margin: 0 auto;
    overflow: hidden;
}

/**
 * HEADER & FOOTER
 */

header {
    grid-column: 1/-1;
}

footer, section {
    grid-column: 1/-1;
    @include respond(min-tablet) {
        grid-column: 2/-2;
    }
    max-width: -moz-available;
}

section {
    @include respond(only-phone) {
        padding:0 2rem;
    }
}

.site-header {

    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include respond(min-tablet) {
        flex-wrap: nowrap;
    }
    grid-row: 1/2;
    position: relative;
    @include respond(min-tablet) {
        position: fixed;
        width: 100%;
        max-width: 168rem;
    }
    z-index: 2;

    &__logo {
        order: 1;
        flex: 0 0 50%;
        z-index: 10;
        max-height: 100vh;
        @include respond(min-tablet) {
            flex: 0 0 17.5%;
        }
        @include flexcenter;
        @include basictransition;
    }

    &.menu-fixed &__logo {
        @include respond(min-tablet) {
            max-height: 11rem;
        }
    }

    &__inner {
        order: 3;
        animation: moveOutTop .5s;
        animation-fill-mode: forwards;
        display: flex;
        flex: 0 0 100%;
        @include respond(min-tablet) {
            order: 2;
            flex: 1 0 74.1%;
        }
        @include respond(min-tablet) {
            height: 11rem;
        }
        align-items: center;
        justify-content: space-between;
        padding: 4rem;
    }

    label {
        order: 2;
        flex: 1 0 8%;
        z-index: 10;
        position: relative;
        cursor: pointer;
        @include respond(min-tablet) {
            order: 3;
            height: 11rem;
            right: 3px;
        }
        @include flexcenter;
    }

    &__trigger {
        display:none;

        &:checked ~ .site-header__inner {
            animation: moveInTop .5s;
        }

    }

    &__menu {
        .menu li {
            display: inline-block;
            margin-right: 1em;
            @include respond(max-tablet) {
                display: block;
                margin-top: 1em;
            }

            a {
                @include basictransition;

                &:hover {
                    color: $color-primary;
                }
            }
        }
    }

}

.site-hero {
    grid-column: 1/-1;
    @include respond(min-tablet) {
        grid-column: 2/-2;
    }
    grid-row: 1/3;
    position: relative;
    z-index: 1;

    .site-hero__inner {
        padding-top: 80%;
        padding-bottom: 15%;
        @include respond (min-tablet) {
            padding-top: 25%;
            padding-bottom: 10%;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include respond(min-tablet) {
            justify-content: flex-start;
        }
        @include respond(min-small-desktop) {
            justify-content: space-between;
        }

        & > *:nth-child(1) {
            flex: 0 0 80%;
            @include respond(min-tablet) {
                flex: 0 0 45%;
                margin-right: 55%;
                padding-left: 20%;
            }
        }
        & > *:nth-child(2) {
            flex: 0 0 80%;
            @include respond(min-tablet) {
                flex: 0 0 45%;
                padding-left: 20%;
            }
        }
        & > *:nth-child(3) {
            flex: 0 0 80%;
            @include respond(min-tablet) {
                flex: 0 0 45%;
                animation: moveInRight 1s;
            }
            @include respond(min-small-desktop) {
                padding-right: 15%;
            }
        }
    }
}

.main-section {
    .wp-block-media-text {
        padding-top: 4rem;
        &:first-of-type {
            padding-top: 6rem;
        }
        padding-bottom: 4rem;
        @include respond(min-tablet) {
            &.has-media-on-the-right {
                .wp-block-media-text__content {
                    padding: 0 16% 0 8%;
                }
            }
            &:not(.has-media-on-the-right) {
                .wp-block-media-text__content {
                    padding: 0 8% 0 14%;
                }
            }
        }
        @include respond(min-small-desktop) {
            &.has-media-on-the-right {
                margin-right: 10%;
                grid-template-columns: 57% 43%;

                .wp-block-media-text__content {
                    padding: 0 24% 0 8%;
                }
            }
            &:not(.has-media-on-the-right) {
                margin-left: 10%;
                grid-template-columns: 43% 57%;

                .wp-block-media-text__content {
                    padding: 0 8% 0 24%;
                }
            }
        }

        p:not(.no-pointer) {
            position: relative;
            margin-bottom: 1em;
            @include respond(min-tablet) {
            @include indicator;
                &::before {
                    position: absolute;
                    top: 50%;
                }
                &::after {
                    transform: translateY(-50%);
                }
            }
        }

        &.has-media-on-the-right {
            p {
                &::before {
                    left: auto;
                    right: -2em;
                    transform: translate(100%,-50%) rotate(180deg);
                }
                &::after {
                    left: auto;
                    right: calc(1.25 * -1.625em);
                }
            }
        }
        &:not(.has-media-on-the-right) {
            p {
                &::before {
                    left: -2em;
                    transform: translateY(-50%);
                }
                &::after {
                    left: calc(1.25 * -1.125em);
                }
            }
        }
    }
    .counter-section {
        width: 100vw;
        max-width: 168rem;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}

.wp-block-latest-posts.is-grid li {
    @include respond(only-phone) {
        margin-right:0;
    }
}

.site-footer {
    width: 100%;
    height: 100%;
    min-height: 10rem;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-gap: 2rem;
    padding: 10% 0 0;

    .footer-text {
        grid-column: 2/-2;
        @include respond(min-tablet) {
            grid-column: 1/5;
        }
        @include respond(min-small-desktop) {
            grid-column: 2/4;
        }

        img {
            max-width: 10rem;
        }
    }
    .footer-form {
        grid-column: 2/-2;
        @include respond(min-tablet) {
            grid-column: 5/-2;
        }
        @include respond(min-small-desktop) {
            grid-column: 5/9;
        }
    }
}
