/**
 * THEME
 */

body {
    background: $color-white;
}

.site-wrapper {
    border-left: 1px solid;
    border-right: 1px solid;
}

.site-header {
    label {
        background-color: $color-white;
    }
}

.site-header {

    &__logo {
        background: $color-true-black;

        a {
            width: 100%;
            position: relative;
            height: 0;
            padding-top: 135%;

            img {
                @include absoluteimage;
                transform: scale(.75);
            }
        }
    }

    &__inner {
        background-color: $color-white;
    }

}

.main-section {
    .counter-section {
        padding: 10%;
        background: $color-black;
        color: $color-white;

        * {
            color: $color-white;
        }
    }
}
