/**
 * THEME
 */

body {
    background: $color-white;
}

.site-wrapper {
    border-left: 1px solid;
    border-right: 1px solid;
}

.site-header {
    label {
        background-color: $color-white;
    }
}

.site-header {

    &__logo {
        background: $color-true-black;

        a {
            width: 100%;
            position: relative;
            height: 0;
            padding-top: 135%;

            img {
                @include absoluteimage;
                @include basictransition;
                transform: scale(.75);
            }
        }
    }

    &.menu-fixed &__logo {
        a {
            img {
                @include respond(min-tablet) {
                    transform: scale(.25);
                }
            }
        }
    }

    &__inner {
        background-color: $color-white;
    }

}

.main-section {
    .counter-section {
        padding: 8rem 20%;
        background: $color-black;
        color: $color-white;

        * {
            color: $color-white;
        }
    }

    .wp-block-media-text {
        position: relative;
        &__media {
            position: relative;
            z-index: 1;
        }
        &::before {
            @include respond(min-small-desktop) {
                content: "";
            }
            display: block;
            position: absolute;
            z-index: 0;
            background-image:url(../img/eci-gfx.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 32.14%;
            height: 100%;
        }
        &:nth-of-type(1)::before {
            bottom: 0;
            right: 0;
            transform: translate(75%, 37%);
            background-position: bottom;
        }
        &:nth-of-type(2)::before {
            display: none;
        }
        &:nth-of-type(3)::before {
            top: 0;
            left: 0;
            transform: translate(-70%,-5%);
        }
        &:nth-of-type(4)::before {
            bottom: 0;
            right: 0;
            transform: translate(70%,50%);
        }
    }
}
